export NODE_ENV=development

export SOCCER_TABLE=Deportivo-${NODE_ENV}
export DYNAMODB_PORT=8042

export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_REGION=localhost

export API_URL=http://localhost:${API_PORT}
export REACT_APP_API_URL=${API_URL}

export TOKEN_SECRET=
export REACT_APP_TOKEN_SECRET=${TOKEN_SECRET}